a{
    color: white;
    text-decoration: none;
}
ul{
  list-style: none;
}
body{
    font-family: sans-serif;
}
.top-navbar{
    position: fixed;
    z-index: 999999;
    width: 100%;
}
.top-navbar .navbar-expand-lg .navbar-nav{
    background-color: #0594a9;
    border-radius: 5px;
   
    
}
 .color-white{
  color: white !important;
}
.inner-body{
    height: 1000px;
}
.slider{
    background-image: url(../images/slider-01.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 720px;
    z-index: 200;

}
.slider::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.slider .slider-content
{
    padding: 245px 50px;
    margin: auto;
    color: white;
    position: absolute;
    z-index: 2;
}
.slider .slider-content h2{
    font-size: 80px;
    line-height: 90px;
}
.slider .slider-content blockquote{
    font-size: 22px;
    padding-top:10px ;
    
}
.bttn-new {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display:inline-block ;
    text-align: center;
    width: 270px;
    font-weight: bold;
    padding: 14px 0;
    border: 3px solid white;
    border-radius: 2px;
    position: relative;

}

.slider .slider-content blockquote a .bttn-new{
    color: #ffffff;
    transition: 0.3s ease all;
}

.message-box{
    margin: 115px 0;
}
.message-box h5{
    color :gray;
}
.message-box h2{
    font-weight: bold;
}
.post-media{
    margin: 115px 0;
}
.hr1{
    position: relative;
    margin: 60px 0;
    border: 1px dashed #f2f3f5;
}
.section-title{
    margin-bottom: 60px;
}
.section-title h3{
    font-size: 28px;
     font-weight: bold;
}
.section-title p{
    color: #999;
}
.why-dit h4{
    font-weight: bold;
    font-size: 38px;
    padding: 30px 0 20px;
}

.icon_wrap {
    background-color: #ee902f;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    font-size: 65px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
	border-radius: 5px;
    padding: 0 !important;
    border: 0 !important;
}

.icon_wrap:hover{
    background-color: #0858c2;
}


.stat-wrap h3 {
    font-size: 18px;
    font-weight: 400;
    color: #999 ;
    margin: 0 ;
    padding: 0 ;
    line-height: 1;
}

.stat-wrap p {
    font-size: 38px;
    color: #121212;
    margin: 0;
    font-weight: 300;
    padding: 4px 0 0;
    line-height: 1 !important;
}

.pricing-bg{
  background-image: url(../images/stardust.png);
  min-height:  650px; ;
}
.pricing-bg .section-title {
  padding: 50px 0;
}
.pricing-bg .section-title h3{
color: white;

}
.happy-client{
  padding-top: 60px;
  margin-bottom: 100px;
}

.client{
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 30px;
  background-color: #333;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.client img {
  max-width: 55px;
  margin: 10px 20px 0 0 ;
}
.client h4{
  padding-top: 15px;
  font-size: 18px;
  color: white;
  float: right;
}
.client h4 small{
  color: #aaa;
  font-size: 16px;
  display: block;
  font-style: italic;
  line-height: 30px;
}

.description{
  background-color: #0594a9;
  border: 5px solid #ee902f;
  padding: 30px;
  margin: auto;
  width: 730px;
}
.description h3{
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}
.description h3 i {
  color: black;
}
.description p{
  font-size: 18px;
  color: white;
}

.nav-q {
  top: 50%;
  margin: -20px auto;
  position: absolute;
  width: 100%;
}

.prev i {
  background-color: #0594a9;
  color: white;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  right: auto;
  left: 0%;
}

.next i
{
  background-color: #0594a9;
  color: white;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  right: 0;
  left: auto;
}

.sponsors{
  background-color:#0594a9 ;
  height: 200px;
  padding: 70px 0;

}
.foot
{
  padding: 70px 0;
}
.foot p , .foot li , .foot li a{
  color: #999;
}
.foot ul {
  padding: 0;
}
.foot li{
  padding: 10px 0;
}
.foot .footer-title{
  color:#0594a9;
  padding: 20px 0;
 
}

.foot .footer-title h3 {
  font-size: 18px;
}
.foot .news-box form .form-group {
  position: relative;
}
.foot .news-box form .form-group .form-control {
  width: 100%;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 0 30px 14px 0;
  border-radius: 0;
  border-bottom: 2px solid #413f48;
}
.foot .news-box form .form-group button {
  height: 40px;
  background: transparent;
  border: none;
  position: absolute;
  bottom: 8px;
  right: 0;
  padding: 0;
  border: none;
}
.social-md {
  overflow: hidden;
}
.social-md li{
  float: left;
}
.footer-links i {
  display: inline-block;
  width: 10px;
  margin-right: 0px;
  font-size: 14px;
}

.foot .social-md li a.fb {
  background: #3b579d;
  display: block;
  color: #ffffff !important;
  padding: 5px 15px;
}
.social-md li a.gi {
  background: #000000;
  display: block;
  color: #ffffff !important;
  padding: 5px 15px;
}
.social-md li a.tw {
  background: #00aced;
  display: block;
  color: #ffffff !important;
  padding: 5px 15px;
}
.social-md li a.dr {
  background: #ea4c89;
  display: block;
  color: #ffffff !important;
  padding: 5px 15px;
}
.social-md li a.pi {
  background: #cb2026;
  display: block;
  color: #ffffff !important;
  padding: 5px 15px;
}
 
.social-md li a.fb:hover {
  background: #0594a9;
}
.social-md li a.gi:hover{
	background: #0594a9;
}
.social-md li a.tw:hover{
	background: #0594a9;
}
.social-md li a.dr:hover{
	background: #0594a9;
}
.social-md li a.pi:hover{
	background: #0594a9;
}






.copy-rights{
  background-color: #333333;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.copy-rights p{
  font-size: 16px;
  color: white;
  padding: 20px 0;
}

.top{
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: #0594a9;
  right: 50px;
  text-align: center;
  font-size: 20px;
  color: white !important;
  padding: 10px 0;
}



