/* page style */
/* Header */
header {
    background: #333;
    height: 90px;
    overflow: hidden;
    line-height: 80px;
    padding: 15px 40px;
}

header .logo {
    /*float: left;*/
    display: inline-block;
    width: 24.5%;
    font-size: 38px;
}

.menu{
    font-size: 40px;
    width: 100%;
    height: 100%;
    color: white;
}
header nav {
    /*float: left;*/
    display: inline-block;
    width: 50%;
}

header nav ul {
    /*overflow: hidden;*/
    text-align: center;
}

header nav ul li {
    margin-right: 15px;
    display: inline-block;
}

header nav ul li a {
    font-size: 28px;
}

header nav ul li :hover{
    color: orangered;
}

header .sidebar {
    /*float: left;*/
    display: inline-block;
    width: 24.5%;
    height: 10px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
}

/* end header */

.banner {
    background-image: url("../images/distortion.jpg");
    height: 650px;
    text-align: center;
    background-size: cover;
}

.banner h5 {
    padding: 30px 0 20px;
    font-size: 28px;
}

.banner h1 {
    padding-bottom: 70px;
    font-size: 60px;
    width: 49%;
    /*margin: auto;*/
    display: inline-block;
}

.banner p {
    font-size: 28px;
    width: 60%;
    display: inline-block;
    margin-bottom: 50px;
}

.banner a {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
}

.overlay {
    background: #333;
    opacity: 0.4;
    height: 650px;
}

.partners {
    background: #555;
    padding: 30px 0;
    text-align: center;
}

.partner-logo {
    display: inline-block;
    margin: 0 15px;
}

.bg-red {
    background: red;
}

.bg-dark {
    background: #555;
}

.bg-super-dark {
    background: #333;
}
.solutions{
    width: 75%;
    padding: 7%;
}
.solutions-description{
    width: 50%;
    padding: 8%;
}
.cards {
    height:400px ;
    margin: 0 1%;
    width: 23%;
    display: inline-block;
}
.card-1 {
    background-image: url(../images/card-image-1.jpg);
    padding: 25px;
  
}

.number{
    padding: 10px ;
}
.header-class
{
    padding-bottom:30px ;
}
.paragraph{
    line-height:25px;
}
.overlay-card :hover
{
    background-color: orange;
  
}

.why-us h5{
font-weight: lighter;
line-height: 50px;
color: grey;

}
.why-us h2{
    padding-bottom: 40px;
    font-size: 40px;
    font-family: sans-serif;
}
.why-us p{
    margin:0 21% ;
    color: grey;
    text-align: center;
}
i{
    font-size: 80px;
    color: orangered;
}
.arrow{
    color: white;
}

.latest-update
{
    overflow: hidden;
    line-height: 80px;
}
.latest-update .Title{
    display: inline-block;
    width: 46%;
    font-size: 38px;
    text-align: center;
}
.latest-update nav{
    display: inline-block;
    width: 50%;
}
.latest-update nav ul{
    text-align: center;
}
.latest-update nav ul li{
    margin-right: 15px;
    display: inline-block;
}
.latest-update nav ul li :hover{
    color: orangered;
}
.banner-2{
    background-image: url(../images/home-slide-2.jpg);
    height: 650px;
    text-align: center;
    background-size: cover;
}
.banner-2 h5 {
    padding: 30px 0 20px;
    font-size: 28px;
}

.banner-2 h1 {
    padding-bottom: 70px;
    font-size: 60px;
    width: 49%;
    display: inline-block;
}

.banner-2 p {
    font-size: 28px;
    width: 60%;
    display: inline-block;
    margin-bottom: 50px;
}

.banner-2 a {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
}

.content{
    
    width: 100%;
    float: left;
}
.content h2{
    font-size:60px ;
}
.pic 
{
    float: right;
    width: 50%;
    height: 700px;
    overflow: hidden;
    
}
.pic img{
    width: 100%;
    
}

.review{
    min-height: 500px;
    overflow: hidden;
    
}
.client-title{
    width: 100%;
}
.client-title h2{
    display: inline-block;
    width: 49%;
}
.client-title div  {
    display: inline-block;
    width: 49%;
    text-align: right;
}
.comment{

    height: 250px;
    margin: 20px 0;
}
.review-status{
    margin: 30px 30px ;
    padding-top: 30px;
    font-size: 30px;

}
.review-comment{
    margin: 30px;
    font-size: 20px;
    width: 95%;
    line-height: 25px;  
}
.team{
    opacity: 0.5;
}
.opacity-1{
    opacity: 1;
}
.team:hover
{
    opacity: 1;
}
.team .team-picture{
    display: inline-block;
}
.team .team-picture img{
    border-radius: 50%;
    
}
.team .team-data {
    width: 50%;
    display: inline-block;
}
.team .team-data .team-role span a{
    color: cornflowerblue;
}
.meet-our-team{
    text-align: center;
  
}
.meet-our-team .container h5{
    margin-top: 50px;
    font-size: 20px;
    color: gray;
}
.meet-our-team .container h2{
    margin-top: 20px;
    font-size:35px;
}
.meet-our-team .container p{
    margin: auto;
    padding-top: 20px;
    width: 70%;  
}
.our-winning{
    text-align: center;
}
.our-winning h5{
    color: gray;
    margin: 30px 0 20px;
}
.our-winning h2{
    margin-bottom: 50px;
}
.place{
    color: orangered;
}
.blog{
    text-align: center;
}
.foot
{
    float: left;
}
.float-l{
    float: left;
}
.row-1{
    margin-bottom: -80px;
}

.studio-post{
    height: 240px;
    color:black;
    position: relative;
    overflow: hidden;
}
.overlay-2{
    background: black;
    opacity:0.5 ;
    height: 240px;
    position: absolute;
    z-index: 4;
    width: 89.5%;

}

.studio-post img{
        z-index: 3;
        position: absolute;
        transition: transform .5s ease;
}
.studio-post:hover img ,.studio-post:hover .overlay-2 {
    transform: scale(1.5);
    width: 99%;
  }
 .inspiration{
    z-index: 999;
    width: 100%;
    position: absolute;
    height: 250px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 10px;
    overflow: hidden;  
}
.inspiration h6{
    float: left;
}
.inspiration .post-date
{
    font-size: 22px;
    float: left;
}
.inspiration .post-title
{
    font-size: 20px;
    width: 90%;
}



