*{
    list-style: none;
    text-decoration: none;
    padding:0;
    margin: 0;

}
body {
    font-family: Arial;
}

.no-border {
    border: none !important;
}
.clear
{
    clear: both;
}
.btn {
    display: block;
    padding: 7px 15px;
    background:red;
    float: left;
    color: #fff;
    border-radius: 7px;
}
.row
{
    min-height: 300px;
    margin-bottom: 5px;
    border: 5px solid white;
    overflow: hidden;
}
.card
{
    background: #eee;
    height: 250px;
    width:24%;
    float: left;
    margin: 5px 0.5%;
    /*padding: 10px ;*/
}
.help
 {
    min-height: 30px;
    margin-bottom: 5px;
    /*border: 5px solid white;*/
    overflow: hidden;
    margin: auto;
}

 .help-center
 {
    /*background: #eee;*/
    height: 70px;
    width: 20%;
    float: right;
    margin: 5px 0.5%;
}
.about-us
{
    float: left;
}
.clear
{
    clear: both;
}
.elements
{
     width: 15%;
     height: 400px;
     background-color: white;
                
}
.contact
{
    background-color: rgb(193, 219, 243);
}

.big-wrapper{
    width: 1500px;
}
.big-wrapper header{
    background-color: yellow;
    overflow: hidden;
    
}
.big-wrapper header .head{
    width: 1400px;
    margin: auto;
}
.big-wrapper header .head .first-part{
    margin: 10px;
}
.big-wrapper header .head .lang{
    float: left;
    
}
.big-wrapper header .head .lang li {
    float: left;
    padding:0 10px;
    border-right: 1px solid black;
}
.big-wrapper header .head .lang li a{
    color: black;
}
.big-wrapper header .head .delivery
{
    float: right;
}
.big-wrapper header .head .delivery li {
    float: left;
    padding:0 10px;
}
.big-wrapper header .head .second-part{
    overflow: hidden;
    margin: 10px;
}
.big-wrapper header .head .second-part .logo{
    float: left;
    width: 10%;
    height: 100%;
}
.big-wrapper header .head .second-part .logo img{
    width: 100%;
}
.big-wrapper header .head .second-part .textbox{
    float: left;
    line-height: 30px;
    width: 50%;
   margin: 15px;
}
.big-wrapper header .head .second-part .myText{
     width: 100%;
    padding: 15px;
    border: 1px solid #333;
}
.big-wrapper header .head .second-part .signup{
    float: right;
    padding-top: 20px;
}
.big-wrapper nav{
    
    overflow: hidden;
    background-color: wheat;
    line-height: 30px;
}

.big-wrapper nav ul li a{
padding: 0 20px;
color: black;
float: left;
}

.big-wrapper .wrapper{
    width: 1440px;
   /* background-color: grey;*/
    margin: auto;
    min-height: 650px;
    overflow: hidden;
}
.big-wrapper .wrapper .noon-picks h2
{
float: left;
font-size: 20px;
}
.big-wrapper .wrapper .noon-picks a{
    float: right;
    margin-top: 20px;
}
.big-wrapper .wrapper .products
{
    width: 13.28%;
    height: 200px;
    border-radius: 10px;

}
.big-wrapper .wrapper .products img{
  /*  width: 190px;
    height: 200px;*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.big-wrapper .wrapper .category img{
  /*  height: 250px;
    width: 350px;*/
    height: 100%;
    width: 100%;
}
