.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  background-color: #3b5998;

  color: white;
}
section.section-about {
  padding: 150px 0;
  background-color: #eee;
}
h1{
  font-size: 85px;
  margin-bottom: 20px;
}
 p {
  font-style: italic;
  margin-bottom: 50px;
}
 .custom-bttn {
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 700;
  background-color: #3b5998;
  color: #fff;
  border-radius: 50px;
  border: none;
}
.custom-bttn:hover{
background-color:#3b59ff
  }

.contact-section {
  padding: 150px 0;
  background-color: #3b5998;
  color: #fff;
}

/* section.contact-section .custom-bttn {
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 700;
  
  border-radius: 50px;
  border: none;
} */
.btn-light
{
  background-color: #fff;
  color: #333;
}
footer {
  background-color: #eee;
  padding: 50px 0;
}
