/* a{
    text-decoration: none;
    color: white;
}*/
*{
    list-style: none;
    text-decoration: none;
} 
/* body
{
    font-family: sans-serif;
} */
.container{
    width: 1300px;
    /* min-height: 650px; */
    margin: auto;
   
}
 .header-container{
    display: flex;
    justify-content: center;
    min-height: 650px;

}
.overlay{
    width: 100%;
    height: 650px;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 7;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/100.jpg);
    background-size: cover;

} 
.nav-container{
    padding-left: 50px;
    width: 100%;
    height: 60px;
    margin: 0 15px;  
}
nav{
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
    left: 0;
    top: 0;
    
}

.logo
{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 800px;

}
.menu{
    display: flex;
    justify-content: space-between
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li{
    display: flex;
    justify-content: space-between;
}
.menu ul li a {
    padding-right: 30px;
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: gray;
}
.banner-container
{
      width: 100%;
      text-align: center;
      margin: auto;
      
}
.banner
{
    line-height: 150px;
    color: white;
    position: absolute;
    z-index: 8;
    right: 0;
    left: 0;
    padding-top: 100px;
}
.inner-body
{
    margin: 15px;
}
.col {
    padding: 10px 25px 10px 31px;

}
.border-B
{
    border-radius: 4px;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color: #2250fc;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 8px 20px 0 0;
}
.qoutes{
    text-align: center;
    margin: auto;
    color: gray;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}
.qoutes h3{
    color: black;
    font-size: 16px;
    font-style: normal;
}
.qoutes h4{
    font-size: 12px;
}
.banner-2{
    background-image: url(../images/700.jpg);
    height: 200px;
    background-size: cover;
    color: white;

}
.banner2-content{
    padding: 30px 60px;
    font-size: 14px;
}
.grid-layout{
    padding: 30px 15px;

}
.heading h2
{
    font-size:60px ;
    line-height: 60px;
}
.heading p {
   color: gray;
}
.our-work-button{
    margin: 26px 0px 0 251px;
}
.pictures{
    position: relative;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
}
.pictures .items{
    height: 25rem;
     flex-grow: 1;
     margin: 0 -15px; 
    
}
.img-hover-zoom{
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden;
    transition: transform .2s ease; 
}
.img-hover-zoom::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    background: rgba(0,0,0,0.3);
    /* z-index: 2; */
    opacity: 1;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}


.img-hover-zoom:hover:before {
    opacity: 1;
    z-index: 2;
}
.pictures .items img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    /* vertical-align:top; */
  }
  .img-hover-zoom:hover img  {
    transform: scale(1.2);
    
  }

.banner-3-container{
    display: flex;
    justify-content: center;
    background-image: url(../images/500.jpg); 
    background-size: cover;
     height: 250px;
     margin-top: 137px;
   
}
.banner-3{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;

}
.box
{
    padding: 100px 40px;
    font-size: 12px;
}
.counter{
    font-weight: 900;
    font-size: 24px;
}
.separator{
    margin-left: 30%;
    width: 20%;
    text-align: center;
    border-bottom: 1px solid white;
}
.best-services .upper-part{
    text-align: center;
    width: 70%;
    margin: auto;
   
}
.best-services .upper-part h2{
    width: 50%;
    margin: auto;
}
.best-services .upper-part p{
    width: 58%;
    margin: auto;
    color: gray;
    font-size: 12px;
}
.blue-sep
{
    margin-left: 40%;
    border-bottom: 1px solid blue;
}
.best-services .lower-part{
    display: flex;
    justify-content: center;
    margin: 50px 30px;
    text-align: center;
    /* font-size: 12px; */

}

.best-services .lower-part .icons{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.best-services .lower-part .icons h6{
    font-weight: bold;
}
.best-services .lower-part .icons p{
    font-size: 12px;
    width: 70%;
    margin: auto;
}
.best-services .lower-part .icons .icon-border
{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 150px;
    font-size: 20px;
    transition: transform .2s; 
}
.best-services .lower-part .icons .icon-border:hover{
    transform: scale(1.5);
}

.meet-our-team{
    background-color: #f7f9fb;
}
.meet-our-team .upper-part{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 20px; 
}

.meet-our-team .lower-part{
    display: flex;
    align-content: center;
    width: 100%;
}
.meet-our-team .lower-part .team{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    width: 100%;
    margin-bottom: 100px;
   

}
.meet-our-team .lower-part .team img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.meet-our-team .lower-part .team p{
    width: 50%;
    margin: auto;
}
.know-more{
    width: 85%;
    text-align: center;
    margin: 35px 0% 69px 13%;

}

.know-more p{
    text-align: left;
}
.details h4
{
    margin-bottom: 20px;
}
.border-details{
    border-radius: 5px;
    border:1px solid #e6e8eb;

}
.post-thumbnail-entry{
    float: left;
}
.post-thumbnail-entry img{
    width: 80px;
    height: 80px;
float: left;
    
}

.post-thumbnail-content a{
    font-size: 18px;
    
    
}
.post-date {
    float: left;
}
.get-in-touch
{
    height: 1000px;
    background-image: url(../images/background-4.png);
   
}
.get-in-touch .container{
    padding: 100px 40px;
}

.social ul li{
   float: left;
   font-size:18px ;
   padding:0 8px;

}
.social ul li a i {
    color: black;
}

.upper-footer{
    padding-top: 60px;
    background-color: #2250fc;
}
.upper-footer h2{
    color: white;
    padding-bottom: 20px;
    text-align: center;
}
.center{
margin: auto;
}
.upper-footer h6{
    color: white;
    text-align: center;
    padding-top: 20px;
}
#scrollTop




    










